{
    "openapi": "3.0.0",
    "info": {
        "title": "Ledga Financial Ledger API",
        "description": "Double-entry accounting ledger system with multi-tenancy support.\n *\n * ## Features\n * - Double-entry accounting with immutable transactions\n * - Multi-tenant isolation with tenant-scoped data\n * - Multi-currency support (fiat and cryptocurrencies)\n * - Configurable precision and rounding modes\n * - Transaction codes for standardized entry templates\n * - Account sets for grouped reporting\n * - Real-time balance calculations\n *\n * ## Authentication\n * All API endpoints require authentication via Laravel Sanctum bearer tokens.\n *\n * ## Monetary Values\n * - All monetary amounts are stored as integer minor units (pence/cents/satoshis)\n * - API accepts and returns decimal strings for user-facing values\n * - Precision is configurable per ledger (storage_decimals and display_decimals)\n *\n * ## Pagination\n * List endpoints use cursor-based pagination for consistency.\n * See docs/api/PAGINATION.md for details.",
        "contact": {
            "email": "support@ledga.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/api/v1/accounts": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "List all accounts in a ledger",
                "description": "Display a listing of accounts\n\nUses cursor-based pagination for consistency. See docs/api/PAGINATION.md\nFor hierarchical view, use tree=true parameter.",
                "operationId": "getAccounts",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by account type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asset",
                                "liability",
                                "equity",
                                "revenue",
                                "expense"
                            ]
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Filter by active status",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "parent_id",
                        "in": "query",
                        "description": "Filter by parent account UUID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in code or name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tree",
                        "in": "query",
                        "description": "Return hierarchical tree structure (non-paginated)",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor for pagination",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Account"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Ledger not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Create a new account",
                "description": "Store a newly created account",
                "operationId": "createAccount",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name",
                                    "type",
                                    "category"
                                ],
                                "properties": {
                                    "code": {
                                        "description": "Account code (must be unique within ledger)",
                                        "type": "string",
                                        "example": "1000"
                                    },
                                    "name": {
                                        "description": "Account name",
                                        "type": "string",
                                        "example": "Cash"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "asset",
                                            "liability",
                                            "equity",
                                            "revenue",
                                            "expense"
                                        ],
                                        "example": "asset"
                                    },
                                    "normal_balance": {
                                        "description": "Normal balance side (defaults based on type)",
                                        "type": "string",
                                        "enum": [
                                            "debit",
                                            "credit"
                                        ],
                                        "example": "debit"
                                    },
                                    "parent_id": {
                                        "description": "Parent account UUID for hierarchical structure",
                                        "type": "string",
                                        "format": "uuid",
                                        "nullable": true
                                    },
                                    "category": {
                                        "description": "Account category — system (internal/GL) or customer (end-user balance)",
                                        "type": "string",
                                        "enum": [
                                            "system",
                                            "customer"
                                        ],
                                        "example": "system"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "default": true
                                    },
                                    "is_system": {
                                        "description": "System accounts cannot be deleted",
                                        "type": "boolean",
                                        "default": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{accountId}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get a specific account",
                "description": "Display the specified account",
                "operationId": "getAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Update an account",
                "description": "Update the specified account",
                "operationId": "updateAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Cash - Updated"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Delete an account",
                "description": "Remove the specified account",
                "operationId": "deleteAccount",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account deleted successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{accountId}/balance-history": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account balance history",
                "description": "Get account balance history",
                "operationId": "getAccountBalanceHistory",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date for history",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date for history",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance history retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "account": {
                                            "type": "object"
                                        },
                                        "period": {
                                            "type": "object"
                                        },
                                        "history": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "ending_balance": {
                                            "type": "number"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/initialize-defaults": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Initialize default chart of accounts for a ledger",
                "description": "Initialize default chart of accounts",
                "operationId": "initializeDefaultAccounts",
                "responses": {
                    "200": {
                        "description": "Default accounts created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "accounts_count": {
                                            "type": "integer",
                                            "example": 15
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Ledger already has accounts"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{accountId}/entries": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get all entries for an account with rolling balance",
                "description": "Get all entries for an account with rolling balance calculation\n\nReturns entries in chronological order by effective_date with a calculated\nbalance_after field showing the running balance after each entry.",
                "operationId": "getAccountEntries",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Filter entries from this date (inclusive)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-01-01"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Filter entries up to this date (inclusive)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-12-31"
                        }
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Filter by transaction layer",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SETTLED",
                                "PENDING",
                                "ENCUMBRANCE"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor for pagination",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entries retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "transaction_id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "account_id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "account_code": {
                                                        "type": "string",
                                                        "example": "1000"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "debit",
                                                            "credit"
                                                        ]
                                                    },
                                                    "amount": {
                                                        "type": "string",
                                                        "example": "100.00"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "layer": {
                                                        "type": "string",
                                                        "enum": [
                                                            "SETTLED",
                                                            "PENDING",
                                                            "ENCUMBRANCE"
                                                        ]
                                                    },
                                                    "effective_date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "balance_after": {
                                                        "description": "Running balance after this entry",
                                                        "type": "string",
                                                        "example": "1000.00"
                                                    },
                                                    "transaction": {
                                                        "properties": {
                                                            "reference": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "account": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "code": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "normal_balance": {
                                                            "type": "string",
                                                            "enum": [
                                                                "debit",
                                                                "credit"
                                                            ]
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "pagination": {
                                                    "$ref": "#/components/schemas/PaginationMeta"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/code/{code}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get a specific account by its code",
                "description": "Display the specified account by code",
                "operationId": "getAccountByCode",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Account code (customer-defined identifier)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/code/{code}/balance": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account balance by code with layer details",
                "description": "Get account balance by code with layer details",
                "operationId": "getAccountBalanceByCode",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Account code (customer-defined identifier)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1000"
                        }
                    },
                    {
                        "name": "as_of_date",
                        "in": "query",
                        "description": "Calculate balance as of this date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Filter by specific layer",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SETTLED",
                                "PENDING",
                                "ENCUMBRANCE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountBalanceResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/accounts/{accountId}/balance": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account balance with layer details",
                "description": "Get account balance with layer details\n\nReturns balances for each accounting layer (settled, pending) plus\nencumbrance breakdown (overdue, future). Per issue #86, the \"available\"\nbalance concept was removed - only settled funds are spendable.",
                "operationId": "getAccountBalance",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "Account UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "as_of_date",
                        "in": "query",
                        "description": "Calculate balance as of this date (Y-m-d format)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Filter by specific layer (informational only, all layers are always returned)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SETTLED",
                                "PENDING",
                                "ENCUMBRANCE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountBalanceResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/account-sets": {
            "get": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "List all account sets",
                "description": "Display a listing of account sets\n\nUses cursor-based pagination for consistency. See docs/api/PAGINATION.md",
                "operationId": "getAccountSets",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in code or name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor for pagination",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AccountSet"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Create a new account set",
                "description": "Store a newly created account set",
                "operationId": "createAccountSet",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "description": "Unique code for this set",
                                        "type": "string",
                                        "example": "OPERATING_EXPENSES"
                                    },
                                    "name": {
                                        "description": "Display name",
                                        "type": "string",
                                        "example": "Operating Expenses"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account set created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountSet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/account-sets/{accountSetId}": {
            "get": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Get a specific account set",
                "description": "Display the specified account set",
                "operationId": "getAccountSet",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountSet"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Update an account set",
                "description": "Update the specified account set",
                "operationId": "updateAccountSet",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Account set updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountSet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Delete an account set",
                "description": "Remove the specified account set",
                "operationId": "deleteAccountSet",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account set deleted"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/account-sets/{accountSetId}/members": {
            "post": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Add an account or nested set to this account set",
                "description": "Add a member to the account set",
                "operationId": "addAccountSetMember",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "member_type",
                                    "member_id"
                                ],
                                "properties": {
                                    "member_type": {
                                        "type": "string",
                                        "enum": [
                                            "account",
                                            "account_set"
                                        ],
                                        "example": "account"
                                    },
                                    "member_id": {
                                        "description": "UUID of account or account set",
                                        "type": "string",
                                        "format": "uuid"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Member added"
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Remove an account or nested set from this account set",
                "description": "Remove a member from the account set",
                "operationId": "removeAccountSetMember",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "member_type",
                                    "member_id"
                                ],
                                "properties": {
                                    "member_type": {
                                        "type": "string",
                                        "enum": [
                                            "account",
                                            "account_set"
                                        ]
                                    },
                                    "member_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Member removed"
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set or member not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/account-sets/{accountSetId}/balance": {
            "get": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Get aggregated balance for all accounts in this set",
                "description": "Get aggregated balance for the account set",
                "operationId": "getAccountSetBalance",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "account_set_id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "account_set_code": {
                                            "type": "string"
                                        },
                                        "account_set_name": {
                                            "type": "string"
                                        },
                                        "total_balance": {
                                            "type": "string",
                                            "example": "1000.00"
                                        },
                                        "currency": {
                                            "type": "string",
                                            "example": "USD"
                                        },
                                        "account_count": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/account-sets/{accountSetId}/accounts": {
            "get": {
                "tags": [
                    "Account Sets"
                ],
                "summary": "Get all accounts in this set (recursively includes nested sets)",
                "description": "Get all accounts in the account set (recursively)",
                "operationId": "getAccountSetAccounts",
                "parameters": [
                    {
                        "name": "accountSetId",
                        "in": "path",
                        "description": "Account Set UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Accounts retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Account"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Account set not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/journals": {
            "get": {
                "tags": [
                    "Journals"
                ],
                "summary": "List all journals",
                "description": "Display a listing of journals for a ledger.",
                "operationId": "getJournals",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "closed"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in code or name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Journal"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Journals"
                ],
                "summary": "Create a new journal",
                "description": "Store a newly created journal.",
                "operationId": "createJournal",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "description": "Unique code within ledger",
                                        "type": "string",
                                        "example": "SALES"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Sales Journal"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "default": "active",
                                        "enum": [
                                            "active",
                                            "closed"
                                        ]
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Journal created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Journal"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "Journal code already exists"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/journals/{journalId}": {
            "get": {
                "tags": [
                    "Journals"
                ],
                "summary": "Get a specific journal",
                "description": "Display the specified journal.",
                "operationId": "getJournal",
                "parameters": [
                    {
                        "name": "journalId",
                        "in": "path",
                        "description": "Journal UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Journal"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Journal not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Journals"
                ],
                "summary": "Update a journal",
                "description": "Update the specified journal.",
                "operationId": "updateJournal",
                "parameters": [
                    {
                        "name": "journalId",
                        "in": "path",
                        "description": "Journal UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "closed"
                                        ]
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Journal updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Journal"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden (cannot rename DEFAULT journal)"
                    },
                    "404": {
                        "description": "Journal not found"
                    },
                    "409": {
                        "description": "Journal code already exists"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Journals"
                ],
                "summary": "Delete a journal",
                "description": "Remove the specified journal.",
                "operationId": "deleteJournal",
                "parameters": [
                    {
                        "name": "journalId",
                        "in": "path",
                        "description": "Journal UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Journal deleted"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden (cannot delete DEFAULT journal)"
                    },
                    "404": {
                        "description": "Journal not found"
                    },
                    "409": {
                        "description": "Cannot delete journal with existing transactions"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/journals/{journalId}/statistics": {
            "get": {
                "tags": [
                    "Journals"
                ],
                "summary": "Get journal statistics",
                "description": "Get journal statistics.",
                "operationId": "getJournalStatistics",
                "parameters": [
                    {
                        "name": "journalId",
                        "in": "path",
                        "description": "Journal UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Statistics retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_transactions": {
                                            "type": "integer"
                                        },
                                        "posted_transactions": {
                                            "type": "integer"
                                        },
                                        "pending_transactions": {
                                            "type": "integer"
                                        },
                                        "reversed_transactions": {
                                            "type": "integer"
                                        },
                                        "last_transaction_date": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "total_accounts_affected": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Journal not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/reports/trial-balance": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get trial balance report",
                "description": "Returns all system accounts with their debit/credit balances, plus a rollup of all user accounts. Ensures debits equal credits.",
                "operationId": "getTrialBalance",
                "parameters": [
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Transaction layer to report on",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "settled",
                            "enum": [
                                "settled",
                                "pending",
                                "encumbrance"
                            ]
                        }
                    },
                    {
                        "name": "as_of_date",
                        "in": "query",
                        "description": "Report balances as of this date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trial balance report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "as_of_date": {
                                            "type": "string",
                                            "format": "date"
                                        },
                                        "layer": {
                                            "type": "string"
                                        },
                                        "accounts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "totals": {
                                            "properties": {
                                                "total_debits": {
                                                    "type": "string",
                                                    "example": "10000.00"
                                                },
                                                "total_credits": {
                                                    "type": "string",
                                                    "example": "10000.00"
                                                },
                                                "is_balanced": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/reports/income-statement": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get income statement report",
                "description": "Returns revenue and expense accounts for a date range, grouped by system accounts and customer accounts. Calculates net income.",
                "operationId": "getIncomeStatement",
                "parameters": [
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "Start date for the report period",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "End date for the report period",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Transaction layer to report on",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "settled",
                            "enum": [
                                "settled",
                                "pending",
                                "encumbrance"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Income statement report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "period": {
                                            "properties": {
                                                "from_date": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "to_date": {
                                                    "type": "string",
                                                    "format": "date"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "layer": {
                                            "type": "string"
                                        },
                                        "revenue": {
                                            "type": "object"
                                        },
                                        "expenses": {
                                            "type": "object"
                                        },
                                        "net_income": {
                                            "type": "string",
                                            "example": "5000.00"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/trancodes": {
            "get": {
                "tags": [
                    "Transaction Codes"
                ],
                "summary": "List transaction code templates",
                "description": "Display a listing of tranCodes for the specified ledger.",
                "operationId": "getTransactionCodes",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "deprecated"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in code, name, or description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor for pagination",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TransactionCode"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Transaction Codes"
                ],
                "summary": "Create a transaction code template",
                "description": "Store a newly created tranCode.",
                "operationId": "createTransactionCode",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name",
                                    "entries_template"
                                ],
                                "properties": {
                                    "code": {
                                        "description": "Unique code for this template",
                                        "type": "string",
                                        "example": "PAYMENT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Customer Payment"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "default": "active",
                                        "enum": [
                                            "active",
                                            "deprecated"
                                        ]
                                    },
                                    "params_schema": {
                                        "description": "JSON Schema for parameters",
                                        "type": "object"
                                    },
                                    "entries_template": {
                                        "description": "Template for generating transaction entries",
                                        "type": "object"
                                    },
                                    "validation_rules": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Transaction code created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionCode"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/trancodes/{id}": {
            "get": {
                "tags": [
                    "Transaction Codes"
                ],
                "summary": "Get a specific transaction code template",
                "description": "Display the specified tranCode.",
                "operationId": "getTransactionCode",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Transaction Code UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionCode"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Transaction code not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Transaction Codes"
                ],
                "summary": "Update a transaction code template (increments version)",
                "description": "Update the specified tranCode.\nNote: Updates increment the version number for audit trail.",
                "operationId": "updateTransactionCode",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Transaction Code UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "params_schema": {
                                        "type": "object"
                                    },
                                    "entries_template": {
                                        "type": "object"
                                    },
                                    "validation_rules": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transaction code updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionCode"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Transaction code not found"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/api/v1/transactions": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "summary": "List all transactions in a ledger",
                "description": "Display a listing of the resource.\n\nUses cursor-based pagination for consistency. See docs/api/PAGINATION.md",
                "operationId": "getTransactions",
                "parameters": [
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Filter by transaction layer",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "settled",
                                "pending",
                                "encumbrance"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
[...]
